<!Doctype html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Welcome to the Library.">
  <title>Library</title>
</head>
<body>
  <div class="error-code">
    <pre>
       ____   ___   ___  
      | ___| / _ \ / _ \ 
      |___ \| | | | | | |
       ___) | |_| | |_| |
      |____/ \___/ \___/ 
                         
    </pre>
  </div>
  <div class="error-description">
    A generic error message, given when an unexpected condition was encountered and no more specific message is suitable.
  </div>
</body>
</html>

