{% extends "layout.html" %}
{% block subcss %}
{% if exist_static_file('book-min.css') %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='book-min.css')}}">
{% else %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='book.css') }}" >
{% endif %}
{% endblock %}

{% block body %}
<div class="clear">
  <h2 class="clear">{{ title }}</h2>
  <table>
    <tr>
      <th>分类</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td class="text-right">{{ category }}</td>
    </tr>
    <tr>
      <th>购置日期</th>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td class="text-right">{{ buydate }}</td>
    </tr>
  </table>
  <div class="clear">
  <h4 class="bv_introduction">介绍</h4>
  <div>{{ introduction }}</div>
  </div>
</div>
{% endblock %}

