<!Doctype html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Welcome to the Library.">
  <title>Library</title>
  {% if exist_static_file('style-min.css') %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style-min.css')}}">
  {% else %}
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
  {% endif %}
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
  <!--<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">-->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='lib/pure-min.css')}}">
  <!--[if lte IE 8]>
    <script>
    alert("the browser you using is too old, please let it be retired")
    </script>
  <![endif]-->
</head>
<body>
<div class="header pure-g-r">
  <div id="navigator">
    <h1 id="appname" class="pure-u-1-5">Library</h1>
    <div class="log log-button">
      {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">登录</a>
      {% else %}
      <a href="{{ url_for('logout') }}">登出</a>
      {% endif %}
    </div>
  </div>
</div>
{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %}
  <div class="container">
    {% block body %}
    {% endblock %}
  </div>
</div>
<div class="footer">
  <span class="calender text-center">{{ today }}</span>
  <br \>
  <span class="version text-center">Written in flask. Version : 0.1</span>
</div>
<div id="js">
  <!--<script async src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>-->
  <script defer src="{{ url_for('static', filename='lib/jquery-1.11.0.min.js') }}" ></script>
</div>
</body>
</html>
