{% extends "layout.html" %}
{% block subcss %}
{% if exist_static_file('form-min.css') %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='form-min.css')}}">
{% else %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}" >
{% endif %}
{% endblock %}

{% block body %}
{% if error %}
<p class="error">
<strong>Error:</strong>
{{ error }}
{% endif %}
</p>
<div id="sidebar">
</div>
    <div id="page">
        <div id="login-border">
            <div id="login" >
            <div id="login-prompt">
                <h2>登录</h2>
            </div>
            <div id="log-box">
                <form action="{{ url_for('login') }}" method=post>
                    {{ form.hidden_tag() }}
                <dl>
                    <dt id="log-username">用户名：</dt>
                    <dd class="left-align"><input type=text name=username autofocus="autofocus" /></dd>
                    <dt id="password">密码：</dt>
                    <dd class="left-align"><input type=password name=password /></dd>
                    <dd class="left-align"><input type=submit value=Login class="submit-btn"/></dd>
                </dl>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block subjs %}
{% if exist_static_file('form-min.js') %}
<script defer src="{{url_for('static', filename='form-min.js') }}"></script>
{% else %}
<script defer src="{{ url_for('static', filename='form.js') }}"></script>
{% endif %}
{% endblock %}

