{% extends "layout.html" %}
{% block body %}
{% if session.logged_in %}
<div>
  <label for="add_entry" >添加新的内容</label>
  <div>
    <span id="prev"><a href="">前一页</a></span>
    <span id="next"><a href="">后一页</a></span>
  </div>
</div>
<div>
  <ul class=entries>
  {% for book in books %}
    <li>
      <div>
        <a href="{{ url_for('get_book_view', title=book.title, category=(book.category if book.category else ''), buydate=(book.buydate if book.buydate else '')) }}">
        <h2>{{ book.title }}</h2>
        </a>
        <p>
          <span>{{ book.category |safe}}</span>
          <span class=separator> </span>
          <span>{{ book.buydate |safe}}</span>
          <span class=separator> </span>
        </p>
      </div>
    </li>
  {% endfor %}
    {% else %}
    <li><em>目前暂无内容</em></li>
  {% endif %}
  </ul>
</div>
{% endblock %}

