{% extends "admin.html" %}
{% block subcss %}
{{ super() }}
{% if exist_static_file('form-min.css') %}
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='form-min.css')}}">
{% else %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='form.css') }}" >
{% endif %}
{% endblock %}

{% block main %}
<div class='center pure-u-3-5'>
<div class='center'>
  <label for="add_entry" class="clickable">添加新的内容</label>
</div>
  {% if books %}
  <ul class="entries nolist">
  {% for book in books %}
    <li>
      <div>
        <div class="book-item inline">
            <a href="{{ url_for('get_book_view', title=book.title, category=(book.category if book.category else ''),
                buydate=(book.buydate if book.buydate else '')) }}"
            target="_blank" class="no-link">
            <h3 class="inline book-title">{{ book.title }}</h3>
            </a>
            <div class="book-detail inline">
            <span class="separator"> </span>
            <span>分类：&nbsp;{{ book.category |safe}}</span>
            <span class="separator"> </span>
            <span>购置日期：&nbsp;{{ book.buydate |safe}}</span>
            <span class="separator"> </span>
            </div>
        </div>
        <div class="action inline">
          <span class="edit action-button clickable" data-id={{ book.id }}>edit</span>
          <div class="none-style">
            <div data-type="title">{{ book.title }}</div>
            <div data-type="category">{{ book.category |safe }}</div>
            <div data-type="buydate">{{ book.buydate |safe }}</div>
            <div data-type="introduction">{{ book.introduction |safe}}</div>
          </div>
          <a class="no-link" href="{{ url_for('delete_entry', title=book.title,
              category=(book.category if book.category else ''),
              buydate=(book.buydate if book.buydate else ''), ssid=book.ssid) }}">
          <span class="delete no-link action-button clickable">delete</span>
          </a>
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
  {% else %}
  <div>
    <em>目前暂无内容</em>
  </div>
</div>
{% endif %}
<div class="post center">
  <form action="{{ url_for('add_entry') }}" method=post class="add_entry">
    <dl>
      <dt class="title">书名</dt>
      <dd><input type=text size=30 name=title></dd>
      <dt class="category">分类</dt>
      <dd><input type=text size=30 name=category></dd>
      <dt class="buydate">购买日期</dt>
      <dd><input type=text size=30 name=buydate placeholder="yyyy-mm-dd"></dd>
      <dt class="introduction">介绍</dt>
      <dd><textarea name=introduction rows=20 cols=50></textarea></dd>
      <dd>
        <input type=submit value=发布>
        <input type=button value=取消 action="hide">
      </dd>
    </dl>
  </form>
  <form action="{{ url_for('edit_entry') }}" method=post class="edit_entry">
    <dl>
      <dt class="title">书名</dt>
      <dd><input type=text size=30 name=title></dd>
      <dt class="category">分类</dt>
      <dd><input type=text size=30 name=category></dd>
      <dt class="buydate">购买日期</dt>
      <dd><input type=text size=30 name=buydate placeholder="yyyy-mm-dd"></dd>
      <dt class="introduction">介绍</dt>
      <dd><textarea name=introduction rows=20 cols=50></textarea></dd>
      <input type="hidden" name="ssid" >
      <dd>
        <input type=submit value=更新>
        <input type=button value=取消 action="hide">
      </dd>
    </dl>
  </form>
</div>
<div>
  <span id="prev"><a href="" class="no-link">前一页</a></span>
  <span id="next"><a href="" class="no-link">后一页</a></span>
</div>
{% endblock %}

{% block subjs %}
{{ super() }}
{% if exist_static_file('admin-min.js') %}
<script defer src="{{url_for('static', filename='admin-min.js')}}"></script>
{% else %}
<script defer src="{{url_for('static', filename='admin.js')}}"></script>
{% endif %}

{% if exist_static_file('form-min.js') %}
<script defer src="{{url_for('static', filename='form-min.js')}}"></script>
{% else %}
<script defer src="{{url_for('static', filename='form.js')}}"></script>
{% endif %}
{% endblock %}

